.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;

}

  body{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      background: url("https://t3.ftcdn.net/jpg/04/76/66/96/360_F_476669635_6P4H8yAayrbWwhHaJiwdntr5If6QNp2P.jpg") no-repeat;
      background-size: cover;
  }
  canvas{
      display: flex;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
  }