.tools{
  width: 100%;
 text-align: center;
  justify-content: center;
  font-weight: bold;
    font-family: monospace;
}
  body{
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url("https://t3.ftcdn.net/jpg/04/76/66/96/360_F_476669635_6P4H8yAayrbWwhHaJiwdntr5If6QNp2P.jpg") no-repeat;
    background-size: cover;
}
  canvas{
      display: flex;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
  }